
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/* 2. Gaya Navbar Utama */
.navbar {
    background-color: #2c3e50; 
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 15px 30px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); 
}

/* Gaya Logo */
.logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
}

/* 3. Gaya List Menu (ul) */
.nav-links {
    list-style: none; /* Hilangkan titik bullet */
    display: flex; 
    gap: 15px; 
}

/* 4. Gaya Link Menu  */
.nav-links li a {
    text-decoration: none; 
    color: white; 
    
    /* Membuat Background pada Link */
    background-color: #34495e; 
    padding: 10px 20px; 
    border-radius: 5px; 
    
    
    transition: all 0.3s ease; 
}

/* 5. Efek Hover (Saat kursor diarahkan ke link) */
.nav-links li a:hover {
    background-color: #e74c3c; /* Warna berubah jadi merah saat disentuh */
    color: white;
    transform: translateY(-2px); 
}

/* 6. Gaya Konten (Halaman Utama) */
.content {
    text-align: center;
    padding: 50px 20px;
    background-color: #ecf0f1; 
    height: 80vh; 
}

.content h1 {
    color: #2c3e50;
    margin-bottom: 10px;
}

/* 7. Gaya Tombol Aksi di bawah */
.action-btn {
    text-align: center;
    margin-top: -50px; 
    padding-bottom: 50px;
    background-color: #ecf0f1;
}

.action-btn a {
    text-decoration: none;
    background-color: #2980b9;
    color: white;
    padding: 12px 25px;
    border-radius: 30px;
    font-weight: bold;
}

.action-btn a:hover {
    background-color: #1abc9c;
}